
.status-bar {
    /* position: fixed;
    top: 0; */
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    width: 100%;
}

.status-bar__column {
    width: 33%;
}

.status-bar__column {
    display: flex;
    align-items: center;
}

.status-bar__column:first-child span {
    margin-right: 5px;
}

.status-bar__column:nth-child(2) {
    justify-content: center;
}

.status-bar__column:last-child {
    justify-content:flex-end;
}

.status-bar__column i {
    width: 20px;
}

.status-bar__column .battery-full {
    margin: 0 5px;
    width: 30px;
}